
<footer class="footer footer-center p-4 bg-base-100 text-base-content">
  <aside>
    <p >Copyright © <span id="footer-year">2023</span>- All right reserved by dark-light.tech </p>
  </aside>
</footer>

<script>
const footerYear = document.getElementById('footer-year');
footerYear.innerHTML = new Date().getFullYear().toString();
</script>