---
import Developer from "./Developer.astro";
---

<div class="hero bg-base-100 min-h-screen">
  <div
    class="hero-content flex-col space-y-6 lg:flex-row-reverse lg: space-x-6"
  >
    <div class="max-w-sm w-[500px]"><Developer /></div>
    <div class="space-y-2">
      <h1 class="text-5xl font-bold">Hi there im Nico</h1>
      <p class="py-6">
        For as long as I can remember, it was my dream to be a software
        developer. I spent years studding part-time (and still do) while
        maintaining a full-time job among my other responsibilities.
      </p>
      <p>
        Nowadays, I am proud to be a Full-stack developer, creating web apps,
        websites and even games for customers and sometimes just for fun :)
      </p>
      <div class="block">
        <a class="inline-block btn btn-primary mt-8 py-4" href="/projects"
          >Explore Projects</a
        >
      </div>
    </div>
  </div>
</div>
