---
import DarkLightLogo from "../components/DarkLightLogo.astro";
const { activeId } = Astro.props;
---

<div class="drawer">
  <input
    id="my-drawer-3"
    type="checkbox"
    class="drawer-toggle"
    aria-label="drawer-toggle"
  />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <nav class="navbar mt-2 bg-base-100 shadow-lg">
      <div class="container mx-auto">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-2xl"
            ><span class="me-2"><DarkLightLogo /></span>Dark-Light</a
          >
        </div>
        <div class="flex-none lg:hidden">
          <label for="my-drawer-3" class="btn btn-square btn-ghost">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 stroke-current"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path></svg
            >
          </label>
        </div>

        <div class="flex-none hidden lg:block">
          <ul class="menu menu-horizontal space-x-1">
            <!-- Navbar menu content here -->
            <li><a href="/" id="home">Home</a></li>
            <li><a href="/projects" id="projects">Projects</a></li>
            <li><a href="/contact" id="contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page content here -->
    <div class="container mx-auto p-4">
      <slot />
    </div>
  </div>
  <!-- mobile menu -->
  <div class="drawer-side">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200">
      <!-- Sidebar content here -->
      <li><a href="/" id="m-home">Home</a></li>
      <li><a href="/projects" id="m-projects">Projects</a></li>
      <li><a href="/contact" id="m-contact">Contact</a></li>
    </ul>
  </div>
</div>

<script define:vars={{ activeId: activeId }}>
// Add active class to current menu item
const activeClass = "bg-base-300";
const activeItemElem = document.getElementById(activeId);
const activeMobileItemElem = document.getElementById("m-" + activeId);
activeItemElem && activeItemElem.classList.add(activeClass);
activeMobileItemElem && activeMobileItemElem.classList.add(activeClass);
</script>
